services:
  db:
    image: postgres:17
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432"
    environment:
      - POSTGRES_PASSWORD=Pass1234
      - POSTGRES_USER=ipmanager
      - POSTGRES_DB=ipmanager
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "ipmanager"]
      interval: 15s
      timeout: 10s
      retries: 5

  app:
    image: docker.lib.umd.edu/ipmanager-django:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    volumes:
      - ./env:/etc/ipmanager/saml
    environment:
      - DB_ENGINE=django.db.backends.postgresql
      - DB_HOST=db
      - DB_NAME=ipmanager
      - DB_PASSWORD=Pass1234
      - DB_PORT=5432
      - DB_USER=ipmanager
      - SAML_CERT_FILE=/etc/ipmanager/saml/ipmanager-local.crt
      - SAML_KEY_FILE=/etc/ipmanager/saml/ipmanager-local.key
      - SAML_SESSION_COOKIE_SAMESITE=Lax
      - SECRET_KEY=9cc159ea50782f9cd254793eb1ad604d381549a6f9ae7dcaef8d6cbed17406c0
      - SESSION_COOKIE_SECURE=False
    depends_on:
      db:
        condition: service_healthy

volumes:
  db-data:
