BASE_URL=http://ipmanager-local:3001/
DATABASE_URL=sqlite:///db.sqlite3
DEBUG=True
ENVIRONMENT=development
# SECRET_KEY can be anything with sufficient randomness
# one way of generating this is "uuidgen | shasum -a 256 | cut -c-64"
SECRET_KEY=
# SAML_KEY_FILE and SAML_CERT_FILE may be absolute or relative paths; if they
# are relative they are relative to the project root directory
# These can be downloaded from the ipmanager-django-local-saml note in the Shared-SSDR
# folder on LastPass; note that local development uses the key and cert
# from the test server, so the file basename is "ipmanager-django-test-lib-umd-edu"
SAML_KEY_FILE=
SAML_CERT_FILE=
# absolute path to the xmlsec1 binary
# you can find this by running "which xmlsec1"
XMLSEC1_PATH=
# for local (i.e., non-HTTPS) development, we disable the secure cookie flag
SAML_SESSION_COOKIE_SAMESITE=Lax
SESSION_COOKIE_SECURE=False
