h2 {
  margin-top: 1.5em;
  margin-bottom: 0;
}

/* Use for forms whose only visible input is a single submit button. */
form.button {
  display: inline;
}

/* Use for forms with a single visible input and a submit button. */
form.single-input {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: start;
}

/*
  Use for a collection of controls (usually buttons) that should be set
  apart from the surrounding text.
*/
.controls {
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: start;
}
