{% extends 'ui/base.html' %} {% block content %} {{ form.non_field_errors }}
<form method="post" action="{% url 'relation' group.key %}">
  {% csrf_token %}
  {{ form.subject }}
  <div class="square-grid">
    <div>{{ form.object.label }}</div>
    {{ form.object }}
    <div>{{ form.relation.label }}</div>
    {{ form.relation }}
  </div>
  <div class="horizontal-container">
    <button type="submit" class="create">Add Child Group</button>
    <a class="button delete" href='{% url "single_group" group.key %}'>Cancel</a>
  </div>
</form>

{% endblock %}