{% extends 'ui/base.html' %}
{% block content %}
{% include 'ui/test_ip_form.html' %}
<a class="button create" style="margin-bottom: .5em; margin-top: 1em" href='{% url "create_group"%}'>New Group</a>
{% if group_list %}

  <table>
    <thead>
      <th>Key</th>
      <th>Name</th>
      <th>Exported?</th>
      <th>Description</th>
      {% if test_ip %} 
      <th>IP in Group?</th>
      {% endif %}
    </thead>
    <tbody>
      {% for group in group_list %}
        <tr>
          <th><a href='{% url "single_group" group.key %}'>{{ group.key }}</a></th>
          <td >{{ group.name }}</td>
          <td class="export_true">
            {% if group.export %} 
              {{"Yes"}}
            {% else %}
              {{"No"}}
            {% endif %}
          </td>
          <td>{{ group.description }}</td>
          {% if test_ip %} 
            <td>{{group.contained}}</td>
          {% endif %}
        </tr>
      {% empty %}
        <tr> <td>No groups yet. </td></tr>
      {% endfor %}      
    </tbody>
  </table>
{% else %}
  <p>No groups found. Please create a group using "New Group".</p>
{% endif %}
{% endblock %}